.card-container {
    display: inline-block;
    justify-content: flex-start;
    padding: 9px;
}

.card {
    align-items: center;
    width: 300px;
    height: 200px;
    margin: 12px;
    box-shadow: 0 0 12px rgb(63, 63, 63);
}

.card h1 {
    font-size: medium;
    align-items: center;
}

.card a {
    margin-bottom: 10px;
}